.wrapper {
	margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
	min-width: 400px;
}

.clear {
	clear: both;
}

.float-left {
	float: left;
}

.banner {
	font-size: 70px;
	margin-top: 25px;
	font-family: 'Russo One', sans-serif;
	text-align: center;
}

.box {
	margin: 10px;
}

.button {
	background-color: slategray;
	border: solid;
	border-width: 3px;
	border-color: dimgray;
	height: 50px;
	width: 100px;
	margin: 25px 10px 0px 0px;
	float: left;
	font-family: 'Audiowide', cursive;
	padding: 10px 0px 0px 15px;
}

.green {
	height: 150px;
	width: 150px;
	margin: 30px 10px 10px 55px;
	background: green;
	border-radius: 150px 0px 0px 0px;
}

.red {
	height: 150px;
	width: 150px;
	margin: 30px 10px 10px 10px;
	background: #9f5050;
	border-radius: 0px 150px 0px 0px;
}

.blue {
	height: 150px;
	width: 150px;
	margin: 10px 10px 10px 10px;
	background: #0c0c71;
	border-radius: 0px 0px 150px 0px;
	
}

.yellow {
	height: 150px;
	width: 150px;
	margin: 10px 10px 10px 55px;
	background: #9b9b2b;
	border-radius: 0px 0px 0px 150px;
}

.green-highlight {
    background: #05f205;
}

.red-highlight {
    background: red;
}

.yellow-highlight {
    background: yellow;
}

.blue-highlight {
    background: blue;
}

#strict, #reset, #start, #display {
    border-radius: 100px 100px 100px 100px;
}

.strict-highlight {
    background-color: green;
}

