.clear {
	clear: both;
}

.banner {
	font-size: 80px;
	margin-top: 25px;
	margin-left: 100px;
	font-family: lobster;
}

.box {
	margin: 10px;
}

.button {
	border-style: solid;
	border-color: black;
	height: 50px;
	width: 50px;
	margin-top: 25px;
	margin-left: 10px;
}




.green {
	border-style: solid;
	border-color: black;
	height: 150px;
	width: 150px;
	margin: 10px;
	background: green;
	margin-left: 100px;
	border-radius: 100px 0px 0px 0px;
}

.red {
	border-style: solid;
	border-color: black;
	height: 150px;
	width: 150px;
	margin: 10px;
	background: red;
	border-radius: 0px 100px 0px 0px;
}

.blue {
	border-style: solid;
	border-color: black;
	height: 150px;
	width: 150px;
	margin: 10px;
	background: blue;
	border-radius: 0px 0px 100px 0px;
}

.yellow {
	border-style: solid;
	border-color: black;
	height: 150px;
	width: 150px;
	margin: 10px;
	background: yellow;
	margin-left: 100px;
	border-radius: 0px 0px 0px 100px;
}