.clear {
	clear: both;
}

.float-left {
	float: left;
}

.ipad {
	width: 500px;
	height: 685px;
	padding: 15px 15px 0px 22.5px;
	border-radius: 5%;
	margin-left: 25%;
    margin-top: 10vh;
	border: solid;
	border-color: #433f3f;
    border-style: inset;
	border-width: 3px;
	box-shadow: 0px 59px 100px -19px #212121;
	background-color: #212121;
}

.camera {
	border: solid;
	border-color: #191717;
    border-style: inset;
	border-width: 1px;
	border-radius: 50%;
	margin: 10px 10px 20px 210px;
	height: 10px;
	width: 10px;
    background-color: #393636;
}

.wrapper {
	width: 450px;
    border: solid;
	background-image: url('http://www.wallpapersonview.com/wallpapers/2/ipad_HD_quality_desktop_background_image-0069.jpg');
}

.home {
	border: solid;
	border-color: #433f3f;
    border-style: inset;
	border-width: 1px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin: 7px auto 0 auto;
    background-color: #171717;
    
    
}

.banner {
	font-size: 70px;
	margin-top: 25px;
	font-family: 'Russo One', sans-serif;
	text-align: center;
	color: bisque;
}

#display {
	margin-left: 20px;
}

.button-wrapper {
	margin-left: 20px;
}

.button {
	background-color: slategray;
	border: solid;
	border-width: 3px;
	border-color: dimgray;
	height: 50px;
	width: 100px;
	margin: 25px 0px 0px 10px;
	float: left;
	font-family: 'Audiowide', cursive;
	padding: 10px 0px 0px 15px;
}

.green {
	height: 150px;
	width: 150px;
	margin: 30px 10px 10px 55px;
	background: green;
	border-radius: 150px 0px 0px 0px;
}

.red {
	height: 150px;
	width: 150px;
	margin: 30px 10px 10px 10px;
	background: #9f5050;
	border-radius: 0px 150px 0px 0px;
}

.blue {
	height: 150px;
	width: 150px;
	margin: 10px 10px 10px 10px;
	background: #0c0c71;
	border-radius: 0px 0px 150px 0px;
	
}

.yellow {
	height: 150px;
	width: 150px;
	margin: 10px 10px 10px 55px;
	background: #9b9b2b;
	border-radius: 0px 0px 0px 150px;
}

.green-highlight {
    background: #05f205;
}

.red-highlight {
    background: red;
}

.yellow-highlight {
    background: yellow;
}

.blue-highlight {
    background: blue;
}

#strict, #reset, #start, #display {
    border-radius: 100px 100px 100px 100px;
}

.strict-highlight {
    background-color: green;
}

